body{
    margin: 0;
    display: grid;
    grid-template-areas:'header header header'
                        'nav nav nav'  
                        'aside section section'
                        'div div div'
                        'footer footer footer';
    grid-template-rows: 450px 40vh 35vh 40vh 20vh ;    
    grid-template-columns: 30vw 20vw 10vw ;               
}
/* ======================================================================================= */
header {grid-area: header;
    background-color: rgb(0, 255, 106);
    background-repeat: no-repeat;
    background-image: url(imagens/banner.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 450px;
    padding-top: 10px 0px 0px 0px;
    border-top: 10px solid rgb(0, 255, 106);

}

.texto{
    display: block;
    /* align-items: center;
    justify-items: center; */
    height: 200px;
    width: 450px;
    font-family: 'Pacifico', cursive;
    color: white;
}

.mao{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    height: 500px;
    width: 200px;
    }


.texto h1{
    
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 36pt;
    font-weight: 200;
}


.texto h1 span{
    color: green;
    

}

.texto img{
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 100px;
    border: 10px solid rgba(0, 0, 0, 0.466)
}

.texto h2{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
}

.texto img:hover{
    background-color: rgb(0, 255, 106);
    border-radius: 100px;
    border: 10px solid rgb(0, 255, 106);
}
/* ================================================================================================= */
nav{ grid-area: nav;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    
}

.desenhos{
    background-color:green;
    border-radius: 100px;
    border: 10px solid green;
        
}

.h1{
    font-family:  'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
}
.h2{
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
    font-weight: 100;
    text-align: center;
    font-size: 13pt;
}




/* ============================================================================== */
aside{grid-area: aside;
    background-color: rgba(128, 128, 128, 0.185);
    display: block;
    align-content: center;
    justify-content: center;
    flex-direction: row;
      
}

.texto1 h1{
    align-items: center;
    font-family:  'Roboto', sans-serif;
    font-weight: 100;

}

.texto1 h2{
    color:gray;
    display: block;
    display: flex;
    justify-content: flex-start;
    text-align: initial;
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
    font-weight: 100;
    text-align: center;
    font-size: 13pt;
}


.input{
    border-radius: 05px;
    font: size 15;px;
    width: 30%;
    color: gray;
}

.Notify{
    background-color: green;
    font-size: 15px;
    color: white;
    border-radius: 05px;
    width: 20%;
}


section{grid-area: section;
    background-color: rgba(128, 128, 128, 0.185);
    display: flex;
    justify-content: center;
    align-content: center; 
}

.video{ 
        
        height: 200px;
        width: 400px;
        

}
/* ======================================================================================== */

div{ grid-area: div;
    display: block;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
   
 
}

.div2{
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
    font-weight: 100;
    text-align: center;
    font-size: 13pt;
}

.div1{
    font-family:  'Roboto', sans-serif;
    font-weight: 150px;
    font-size: 20px;
    text-align: center;

}
.pessoa{ 
   text-align: center;
}

.app img{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 100px;
    border: 10px solid rgba(0, 0, 0, 0.466);
    
     
}

.app .app:hover{
    background-color: rgb(0, 255, 106);
    border-radius: 100px;
    border: 10px solid rgb(0, 255, 106);

}

/* ============================================================================================ */
footer{grid-area: footer;
    background-color: rgba(128, 128, 128, 0.185);
    display: flex;
    align-items: center;
    justify-content: space-around;
        
}

.footer1{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 30px;
   
    
}

footer a:link{
    text-decoration: none;
    color: gray;

}

footer a:visited{
    color: gray;

}